<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>

<body>
    <%- include header-%>
    <main class="main__about">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quia iste temporibus distinctio quos.
            Quaerat voluptates, nisi nulla mollitia quam at quasi porro possimus quis ipsa perferendis alias
            maiores atque?</p>

    </main>

</body>

</html>