<footer>
    <div class="footer">
        <p>© 2020 All rights reserved.</p>
        <div class="footer__social">
            <a href="https://github.com/dumitrustefirta/WeatherAPP-project" target="_blank"><img src="images/git.png" alt="git logo"></a>
            <a href="https://www.facebook.com/dumitru.st.7/" target="_blank"><img src="images/Facebook-icon-1.png" alt="Facebook Icon"></a>
        </div>
    </div>
</footer>