<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast for 5 days</title>
</head>
<body>
    <%- include header -%>

    <main class="main-forecast">
        <div class="city-name"></div>
        <div class="forecast-box"></div>
    </main>
    
    <%- include footer -%>
</body>
</html>