<header class="header">
    <p>WeatherAPP</p>
    <!-- <img src="./src/images/logo_white_cropped.png" alt="logo"> -->
    <div id="date"></div>
    <div class="menu-btn">
        <div class="menu-btn__burger"></div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="list.html">List</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
        </ul>
    </nav>
</header>