<header class="header">
    <p class="home_page">WeatherAPP</p>
    <!-- <img src="./src/images/logo_white_cropped.png" alt="logo"> -->
    <div id="date"></div>
    <div class="menu-btn">
        <div class="menu-btn__burger"></div>
    </div>
    <nav class="nav">
        <ul class="menu-nav" >
            <li class="menu-nav__item" id="main">
                <a href="index.html" class="menu-nav__link">Home</a>
            </li>
            <li class="menu-nav__item" id="list">
                <a href="list.html" class="menu-nav__link">List</a>
            </li>
            <li class="menu-nav__item" id="about">
                <a href="about.html" class="menu-nav__link">About</a>
            </li>
        </ul>
    </nav>
</header>