<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City list</title>
</head>

<body>
    <%- include header -%>
    <main class="main__list">
        <div class="cities-list"></div>
    </main>
    <%- include footer -%>
</body>

</html>