.main__list {
    background-color: #ACBBBE;
    height: auto;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    .cities-list {
        width: 85%;
        height: auto;
        font-size: 22px;
        font-weight: bold;

        &__info {
            width: 100%;
            height: auto;
            padding: 0 0.5em;
            margin: 1em 0;
            border: 1px solid #36464C;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                width: 40px;
            }

            span.temp {
                display: flex;
                align-items: center;
            }

            span.second-info {
                font-size: .7em;
                font-weight: normal;
            }

            &:hover {
                background-color: #ED7E5F;
            }
        }
    }
}
  