.main__list {
    background-image: url('../images/icons/soft-cloudy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    .cities-list {
        width: 85%;
        height: auto;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 2em;

        &__info {
            width: 100%;
            height: auto;
            padding: 0 0.5em;
            margin: 1em 0;
            border: 1px solid #657c81;
            border-radius: 5px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;

            img {
                width: 40px;
            }

            span.temp {
                display: flex;
                align-items: center;
            }

            span.second-info {
                font-size: .7em;
                font-weight: normal;
            }

            &:hover {
                background-color: #ED7E5F;
            }
        }
    }
}
  